<template>
  <div class="flag-main">
    <div class="flag-icon">
      <transition name="fade">
        <country-flag v-if="ste" :country="ste.alpha2.toLowerCase()" size="big" />
      </transition>
    </div>
    <div class="flag-ste">
      <template v-if="name && ste">
        <transition name="fade2">
          <div class="flag-title">
            <h1>{{ ste.country }}</h1>
          </div>
        </transition>
      </template>
      <transition name="fade3">
          <template v-if="subtitle.length && ste">
            <h2 style="transition-delay: 0.8s"><span class="text">{{ subtitle }}</span><span class="value" v-if="subtitleValue">{{ subtitleValue }}</span></h2>
          </template>
      </transition>
    </div>
  </div>
</template>

<script>
import CountryFlag from 'vue-country-flag'

export default {
  name: 'Flag',
  props: {
    ste: {
      required: true
    },
    name: {
      type: Boolean,
      required: false,
      default: false
    },
    subtitle: {
      type: String,
      required: false,
      default: ""
    },
    subtitleValue: {
      type: String,
      required: false,
      default: ""
    }
  },
  data () {
    return {
    };
  },
  components: {
    CountryFlag
  },
  mounted: function () {
  },
  methods: {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade2-enter-active, .fade2-leave-active {
  transition: opacity 0.8s;
}
.fade3-enter-active {
  transition: opacity 0.3s;
}
.fade3-enter, .fade2-enter, .fade2-leave-to, .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.flag-icon {
  position: absolute;
  top: 0px;
}
.flag-ste {
  position: absolute;
  top: 50px;
}
.flag-main {
  text-align: left;
  position: relative;
}
h1 {
  font-size: 150%;
}
h2 {
  border-top: thin black solid;
  padding-top: 15px;
  padding: 5px 5px 10px 5px;
  font-size: 100%;
  background: rgba(255, 255, 255, 0.8);
}
h2 span.text {
  font-family: 'Arial Black';
  color: rgba(170, 170, 170, 1.0);
}
h2 span.value {
  font-family: 'Georgia';
  font-size: 110%;
}
</style>
