<template>
  <div id="map">
    <Flag id="mainFlag" :ste="steItem(ste)" :name="true" :subtitle="totalPopulation ? 'Total (' + year + '):' : ''" :subtitle-value="' ' + totalPopulation + ' people'" />
    <Sankey :filter="filter" />
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import Flag from './Flag.vue'
import Sankey from './Sankey.vue'

export default {
  name: 'Map',
  components: {
    Flag,
    Sankey
  },
  data: function () {
    return {
    };
  },
  props: {
  },
  computed: {
    ...mapState([
      'year',
      'ste',
      'filter'
    ]),
    ...mapGetters([
      'steItem',
      'totalPopulation'
    ])
  }
}
</script>

<style>
#map {
  position: relative;
}
#mainFlag {
  position: absolute;
  z-index: 1000;
  left: 50px;
  top: 0px;
  width: 30%;
  border: 1;
}
</style>
